# PayPal Sandbox
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com

# Azure
AZURE_STORAGE_ACCOUNT=your_storage_account
AZURE_STORAGE_KEY=your_key_here
AZURE_CONTAINER_NAME=paypal-bronze
AZURE_SQL_SERVER=your_server.database.windows.net
AZURE_SQL_DB=paypal_db
AZURE_SQL_USER=your_user
AZURE_SQL_PASSWORD=your_password
